@{
	var pageTitle = ViewBag.Title = "";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
 <style>
	 .taskArea{font-size:16px;}
	 .a{text-decoration:none;}
	</style>
}
<div class="content-wrapper">
	<!-- main -->
	<div class="content">

		<div class="main-content">

			<!-- WIDGET TABBED CONTENT -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i>通知</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<div class="widget-content">
					<div class="alert alert-danger alert-dismissable">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497518856881&di=ecdd4f1ea36a35cd25db034a1fa4c2f1&imgtype=0&src=http%3A%2F%2Fcdn.lizhi.fm%2Fradio_cover%2F2014%2F02%2F15%2F9524232787310084.jpg" width="50" height="50" />
						  友情提醒：<h3><i class="fa fa-pencil"></i> 请大家认真填写每日工时和进度</h3>
						<i class="fa fa-question-circle"></i><a href="~/assets/img/如何添加和使用运维任务.pptx">  如何添加和使用运维任务</a>
						<p>&nbsp;</p>
						<p><strong>【新增功能 2016-12-14】</strong> <br/></p> 
						 部门共享文件夹功能上线了！,大家可以填写任何使用反馈放置在我们的文件夹中 <a href="@Url.Action("Index","ShareFolder")" class="btn btn-md btn-info"><i class="fa fa-star-o"></i>进入文件夹（试用）</a>
						<br/>
						 1 预览功能还在完善中<br/>
						 2 文件权限和文件夹权限还在设计中
						
					</div>

				</div>
			</div>
			<!-- END WIDGET TABBED CONTENT -->

			<div class="row">
				<div class="col-md-6">
					<!-- WIDGET TABBED CONTENT -->
					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-paperclip"></i>日志</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>

						<div class="widget-content">

							<div class="alert alert-info alert-dismissable journalAlter">
								截至您在 <strong>@ThisApp.StartDayPerMonth.ToString("yyyy日MM月dd日") - @ThisApp.EndDayPerMonth.ToString("yyyy日MM月dd日")</strong>期间填写的日志总工时为 <strong class="totalHour"></strong>，累计填写了 <strong class="recordDays"></strong> 天
								总体表现为：
								<img class="journalFace" />
							</div>
							<div class="journalChart"></div>
							<div>
								<a href="@Url.Action("Search","WorkJournal")" class="btn  btn-danger">填写日志</a>
							</div>

						</div>
					</div>
					<!-- END WIDGET TABBED CONTENT -->
				</div>
				<div class="col-md-6">
					<!-- WIDGET TABBED CONTENT -->
					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-tasks"></i>任务</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>

						<div class="widget-content">

							<div class="alert alert-info alert-warning taskArea">

							</div>
							@*<button class="btn-details btn btn-info">查看明细</button>*@
						</div>
					</div>
					<!-- END WIDGET TABBED CONTENT -->
				</div>
			</div>
		
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

@section Scripts{
<script>

	$(function () {

		$.post('@Url.Action("PersonalJournal", "Home")', function (data) {
			$('.totalHour').html(data.recordHours);
			$('.recordDays').html(data.recordDayCount);
			$('.journalFace').attr('src',
				data.journalQuilty == '@((int)JournalQuality.Good)' ? '../../assets/img/smile.png' :
				data.journalQuilty == '@((int)JournalQuality.Normal)' ? '../../assets/img/normal.png' :
				'../../assets/img/cry.png'
				);
		});

		$.post('@Url.Action("TaskEndDateAlert", "Home")', function (data) {
			var $area = $('.taskArea');
			$area.append('<p>任务总数:  ' + data.allcount + '</p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskType=TaskKeys.ProjectTaskType })">项目任务数量:  ' + data.projectTaskCount + '</a></p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskType=TaskKeys.TempTaskType })">临时任务数量:  ' + data.tempTaskCount + '</a></p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskType=TaskKeys.MaintainedTaskType })">维护任务数量:  ' + data.maintainceTaskCount + '</a></p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskStatus=TaskKeys.PlanStatus })">计划期任务数量:  ' + data.planStatusTaskCount + '</a></p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskStatus=TaskKeys.ProcessStatus })">执行期任务数量:  ' + data.processStatusTaskCount + '</p>');
			$area.append('<p><a href="@Url.Action("Index","Task",new { @TaskStatus=TaskKeys.CompleteStatus })">已完成任务数量:  ' + data.completeStatusTaskCount + '</p>');
			$area.append('<p><i class="fa fa-star"></i>  快到期的任务数量:  ' + data.alterTaskCount + '</p>');
		});


	});

</script>	
}
