@model Guid
@{
	var pageTitle = ViewBag.Title = "";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
	var projectId = Model;
	var isManager = Html.GetUserProfile().IsManager;
}
@section Css{
	<style>
		.taskArea{font-size:16px}
		.a{text-decoration:none}
		.left-side{}
		.right-side{}
		ul.statistic-list{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:flex-start;list-style:none;}
		ul.statistic-list > li.statistic-item{margin:10px;cursor:pointer}
		ul.activity-list > li:hover{background:#eee}
		ul.activity-list > li .activity-icon{background:#FF6633;color:white;font-size:10px;font-weight:bold;font-family:Arial}
		ul.user-list{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:flex-start;list-style:none;}
		ul.user-list > li.user-name{border-radius:50%;width:80px;height:80px;border:1px solid #9999CE;line-height:80px;font-size:18px;margin:10px;cursor:pointer}
		ul.user-list > li.user-name:hover{background:#9999CE;color:#fff}
		.widget.resource{margin:20px;}
	</style>
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />

}

<link href="~/assets/plugins/jQuery.Gantt/test2/lib/jquery-ui-1.8.4.css" rel="stylesheet" />
<link href="~/assets/plugins/jQuery.Gantt/test2/jquery.ganttView.css" rel="stylesheet" />
<div class="content-wrapper">
	<!-- main -->
	<div class="content">
		<div class="main-content row">


			<!-- LEFT WIDGET TABBED CONTENT -->
			<div class="widget col-sm-3 left-side" style="margin:20px;padding:20px">

			</div>
			<!-- END LEFT WIDGET TABBED CONTENT -->
			<!-- RIGHT WIDGET TABBED CONTENT -->
			<div class="right-side col-sm-8">

				<div class="widget col-md-12 project-info" style="margin:20px;">
					
				</div>
				<div class="widget col-md-12  resource">
					<div class="text-center">
						<h2>项目人员</h2>
					</div>
					<div class="resource-list">
					</div>
				</div>
				<div class="widget col-md-12" style="margin:20px;">
					<div class="text-center">
						<h2>项目节点任务总览</h2>
					</div>
					<div id="ganttChart" ></div>
				</div>
				<div class="widget col-md-12" style="margin:20px;">
					<div class="text-center">
						<h2>项目实施任务总览(最新20个)</h2>
					</div>
					<div style="margin-bottom:30px">
						<label>选择人员</label>
						<div class="dp-users"></div>
						@*@Html.DropDownList("dpUsers2", new List<SelectListItem>(), new { @class = "form-control dropdown-users" })*@
					</div>
					<div id="ganttChart2" >

					</div>
				</div>
				<div class="widget col-md-12" style="margin:20px;">
					<div class="text-center">
						<h2>人员项目工时统计</h2>
					</div>
					<div class="widget-content">
						<div class="col-md-12" id="taskChart" style="height:300px;"></div>
					</div>
				</div>
			
			</div>
			<!-- END RIGHT WIDGET TABBED CONTENT -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Plugins{
	<script src="/assets/js/jquery-1.11.1.min.js"></script>
	<script src="~/assets/plugins/jQuery.Gantt/test2/lib/date.js" charset="GB2312"></script>
	<script src="~/assets/plugins/jQuery.Gantt/test2/lib/jquery-ui-1.8.4.js" charset="GB2312"></script>
	<script src="~/assets/plugins/jQuery.Gantt/test2/jquery.ganttView.js" charset="GB2312"></script>
	<script src="~/assets/plugins/jQuery.Gantt/test2/example/data.js" charset="GB2312"></script>
	<script src="~/assets/js/echarts.min.js"></script>
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Scripts{
	<script>

		$(function () {

			bindProjectList(function () {
				// binding project dropdown list
				var loaded = false;
				$('#dpProjects').searchableSelect({
					afterSelectItem: function (v) {
						if (loaded) {
							bindData(v);
						}
						else {
							loaded = true;
						}
					}
				});

				// click event for project list in left side
				$('.project').click(function () {
					var $this = $(this);
					var id = $this.data('id');
					$('#dpProjects').val(id);

					// remove origin select plugin
					$('.searchable-select').remove();
					// rebuild searchable select plugin
					$('#dpProjects').searchableSelect({
						afterSelectItem: function (v) {
							bindData(v);
						}
					});

				});
			});

			bindData('@projectId');

		});

		function bindData(projectId) {
			//bind project info
			bindProjectInfo(projectId)
			//bind resource list
			bindResourceList(projectId);
			//bind gantte
			bindStoneTaskGantte(projectId);
			//bind user dropdown list in gantte area
			bindResourceDropdownList(projectId)
			//bind workhours chart
			bindWorkhoursChart(projectId)
		}

		function bindProjectList(callback) {
			$.post('@Url.Action("ProjectList", "Home")', function (data) {
				$('.left-side').html(data);

				if (callback) {
					callback();
				}
			});
		}

		function bindResourceList(projectId) {
			$.post('@Url.Action("ResourceList", "Home")', { projectId: projectId }, function (data) {
				$('.resource-list').html(data);
			});
		}

		function bindProjectInfo(projectId) {
			$.post('@Url.Action("ProjectInfo", "Home")', { projectId: projectId }, function (data) {
				$('.project-info').html(data);
			});
		}

		function bindStoneTaskGantte(projectId) {
			$.post('@Url.Action("StoneTaskGantte", "Home")', { projectId: projectId }, function (data) {
				if (!data.rows || data.rows.length <= 0) {
					$("#ganttChart").html('');
					return false;
				}
				$("#ganttChart").html('').ganttView({
					data: data.rows,
					slideWidth: '100%',
				});
			});
		}

		function bindTaskGantte(userId,projectId) {
			$.post('@Url.Action("UserTasksGantte", "Home")', { userId: userId, projectId: projectId, current: 0, rowCount: 20 }, function (data) {
				if (!data.rows || data.rows.length <= 0) {
					$("#ganttChart2").html('');
					return false;
				}
				$("#ganttChart2").html('').ganttView({
					data: data.rows,
					slideWidth: '100%',
				});
			});
		}

		function bindResourceDropdownList(projectId) {
			$.post('@Url.Action("ResourceDropdownList", "Home")', { projectId: projectId }, function (data) {
				$('.dp-users')
					.html('')
					.append(data)
					.find('#dpUsers').searchableSelect({
						afterSelectItem: function (v) {
							bindTaskGantte(v, projectId);
						}
					});
			});
		}


		function bindWorkhoursChart(projectId) {

			$.post("@Url.Action("WorkHours", "Home")", { projectId: projectId }, function (data) {
				var myChart = echarts.init(document.getElementById('taskChart'));
				option = {
					color: ['#3398DB'],
					tooltip: {
						trigger: 'axis',
						axisPointer: {            // 坐标轴指示器，坐标轴触发有效
							type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: [
						{
							type: 'category',
							data: data.names,
							axisLabel: {
								interval: 0,//横轴信息全部显示
								//rotate: -40,//-15度角倾斜显示
							},
						}
					],
					yAxis: [
						{
							type: 'value'
						}
					],
					series: [
						{
							name: '直接访问',
							type: 'bar',
							barWidth: '60%',
							data: data.values,
							itemStyle: {
								normal: {
									color: function (params) {
										var colorList = ["#3398db", "#434348", "#90ed7d", "#f7a35c", "#61a0a8", "#61a0a8", "#91c7ae"];
										return colorList[params.dataIndex]
									}
								}
							}
						}
					]
				};
				myChart.setOption(option);
				myChart.on('click', function (params) {
					location.href = "@Url.Action("UserManage","Home")";
				});
			});

		}

	</script>
}
