@model BugConfrimViewModel

<link href="~/assets/plugins/select2-4.0.2/css/select2.min.css" rel="stylesheet" />
<style>
	.dropzonePop {
		display: none;
	}
</style>


<div class="modal-dialog" style="width:95%;">

	<div class="row">

		<!-- widget -->
		<div class="widget details col-md-7 col-md-offset-1">

			<form id="bugForm" class="form-horizontal" action="@Url.Action("Confirm","bug")" role="form" data-after-success="afterDialogSuccess()" style="">

				<div class="widget-content">

					<div class="row">
						<h4>bug 确认</h4>
						<hr />
					</div>

					<div class="row editTaskInfo">
						<fieldset class="col-sm-12">

							@Html.HiddenFor(t => t.Id)
							@Html.HiddenFor(t => t.ProjectId)

							<div class="form-group">
								@Html.LabelFor(t => t.SortId, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.Label("BugID", Model.SortId.ToString(), new { @class = "form-control" })
								</div>
								@Html.ValidationMessageFor(t => t.Name)
							</div>

							<div class="form-group">
								@Html.LabelFor(t => t.Name, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.Label("BugName", Model.Name, new { @class = "form-control" })
								</div>
								@Html.ValidationMessageFor(t => t.Name)
							</div>


							<div class="form-group">
								@Html.LabelFor(t => t.Result, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.DropDownListFor(t => t.Result,
									DictionaryCache.Cached(BugKeys.BugConfirmGuid)
													.GetSelectListById(Guid.Empty),
									new { @class = "form-control" })
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(t => t.Remark, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.TextAreaFor(t => t.Remark, 12, 2, new { @class = "form-control" })
								</div>
							</div>


							<div class="input-group center-block">
								<button id="submit" class="btn btn-info col-md-3 col-md-offset-2 btn-custom-primary">保存</button>
								<a class="btn btn-info col-md-3" data-dismiss="modal">取消</a>
							</div>

						</fieldset>

					</div>

				</div>

			</form>

		</div>


	</div>
</div>


<script src="~/assets/plugins/ckeditor_4.14.1_standard/ckeditor/ckeditor.js"></script>

<script>

	$(function () {

		ajaxSubmitForm($('#bugForm'), true);

		myEditor = initCKEditor('Remark');

		$('#submit').click(function () {
			$('#Remark').val(myEditor.getData());
		});

	});


	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
	}



</script>

