@model Publish
@{
	//var users = ViewBag.Users as List<UserInfo>;
	//var manager =users.Find(x => x.UserId == Model.ManagerId);
	var attahcments = ViewBag.Attahcments as List<Attachment>;
}

<style>
	.dropzonePop {
		display: none;
	}
</style>

@section Css{
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />
}

<div class="row" style="margin-top:20px;margin-bottom:20px;">
	<a class="btn btn-lg btn-danger col-md-1 col-md-offset-1" href="@Url.Action("List","Publish")">返回列表</a>
	<div class="col-md-4">
		<h5>@Model.SortId - @Model.ProjectName - @Model.PublishName</h5>
	</div>

	<div class="buttons col-md-4">

	
		<a class="btn btn-warning " href="@Url.Action("Edit", "Publish", new { id = Model.PublishId })">修改</a>

	</div>
</div>
<div class="row">

	<!-- widget -->
	<div class="widget details col-md-7 col-md-offset-1">

		<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone file"></form>

		<form id="taskForm" class="form-horizontal"  role="form" data-after-success="afterDialogSuccess()" style="">

			<div class="widget-content">

				<div class="row editTaskInfo">
					@*@Html.HiddenFor(t => t.Projectid)
					@Html.HiddenFor(t => t.SortId)
					@Html.HiddenFor(t => t.PublishId)*@

					<div class="form-group">
						@Html.LabelFor(t => t.PublishName, new { @class = "control-label col-md-2" })
						<div class="col-md-9">
							@Html.Label(Model.PublishName, new { @class = "form-control" })
						</div>
					</div>


					<div class="form-group">
						@Html.LabelFor(t => t.ManagerId, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.Manager, new { @class = "form-control" })
						</div>

						@*@Html.LabelFor(t => t.CreatorId, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.Creator, new { @class = "form-control" })
						</div>*@

					</div>

					<div class="form-group">
						@Html.LabelFor(t => t.PublishType, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.Type, new { @class = "form-control" })
						</div>
						@Html.LabelFor(t => t.PublishStatus, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.Status, new { @class = "form-control" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(x => x.EndDateStr, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.EndDateStr, new { @class = "form-control" })
						</div>

						@Html.LabelFor(x=>x.CloseDateStr, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
						@Html.Label(Model.CloseDateStr, new { @class = "form-control" })
						</div>
					</div>

			
					<div class="form-group">
						@Html.LabelFor(t=>t.CreatorId, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label(Model.Creator, new { @class = "form-control" })
						</div>

					   @Html.LabelFor(t=>t.CreateDateStr, new { @class = "control-label col-md-2" })
						<div class="col-md-2">
							@Html.Label( Model.CreateDateStr, new { @class = "form-control" })
						</div>
					</div>

					<hr />

					<div class="col-md-12">
						@Html.LabelFor(t => t.Description, new { @class = "control-label"  })
						<p></p>
						 <div class="alert">
							 @*@Html.TextArea("", Html.Raw(Model.Content).ToString(), 12,2,new { @class = "form-control", @readonly = "readonly"  })*@
				 			@Html.Raw(Model.Description)
						 </div>
						@*@Html.TextAreaFor(t =>Html.Raw(t.Content), 12, 2, new { @class = "form-control", @readonly = "readonly" })*@
					</div>

					<div class="col-md-12">
						@Html.Label("附件", new { @class = "control-label" })
						<p></p>
						<div class="alert alert-info alert-dismissable">
							@foreach (var item in attahcments)
							{
								<div><a href="@item.Url">@item.RealName</a></div>
							}
						</div>
					</div>

				</div>

			</div>

		</form>


	</div>

	@Html.Partial("_taskList",Model.RelativeTasks)
	@Html.Partial("_requireList", Model.RelativeRequires)

	@Html.Partial("_operation", Model.OperationHistory)


</div>
@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Scripts{
	<script></script>
}