@{
	var pageTitle = ViewBag.Title = "发布请求列表";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var requestTaskType = Request["PublishType"] ?? string.Empty;
	var requestTaskStatus = Request["PublishStatus"] ?? string.Empty;
	var statusList = DictionaryCache.Cached(PublishKeys.StatusGuid).GetSelectListById(requestTaskStatus.ToGuid(Guid.Empty), new SelectListItem { Text = "发布状态", Value = PublishKeys.SelectAll.ToString() }).ToList();
	var typeList = DictionaryCache.Cached(PublishKeys.TypeGuid).GetSelectListById(requestTaskType.ToGuid(Guid.Empty), new SelectListItem { Text = "发布类型", Value = PublishKeys.SelectAll.ToString() }).ToList();
	var projectsSelectList = SelectListHelper.GetSelectItems(ViewBag.Projects as List<Project>, "ProjectName", "ProjectId",null, new SelectListItem { Text = "选择项目", Value = PublishKeys.SelectAll.ToString() });
}
@section Css{
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />
	<style>
		.searchable-select {
			min-width: 100px;
		}
	</style>
}

<div class="content-wrapper">

	<!-- main -->
	<div class="content">
		<div class="row" style="margin-bottom:20px; margin-top:10px;">

			<!-- 项目筛选下拉框 -->
			<div class="col-md-2">
				<div class="form-horizontal">
					<div class="FormGroup">
						@Html.DropDownList("dpProjects", projectsSelectList, new { @class = "form-control dropdown-myProjects" })
					</div>
				</div>
			</div>

			<!-- /任务搜索框 -->
			<div class="col-md-9 row" style="border:1px solid gray; margin-left:2%; padding:5px;">

				<div class="col-md-1">
					<div class="form-horizontal">
						<div class="FormGroup">
							<a id="showAll" class="btn btn-info">所有</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-2">
					<div class="form-horizontal">
						<div class="FormGroup">
							@Html.DropDownList("dpTypes", typeList, new { @class = "form-control", })
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-horizontal">
						<div class="FormGroup">
							@Html.DropDownList("dpStatus", statusList, new { @class = "form-control", })
						</div>
					</div>
				</div>


				<div class="col-sm-3">
					<div class="form-horizontal">
						<div class="FormGroup" style="float:left">
							<input type="text" placeholder="发布id/名称" class="form-control txt-taskName " id="txtName" />
						</div>
						<div>
							<a class="btn btn-info" id="btnSearch">搜索</a>
						</div>
					</div>
				</div>

				<div class="col-sm-2 text-center line-height: 70px;">
					<div class="form-horizontal">
						<div class="FormGroup" style="line-height: 35px;">
							<a href="#" id="assign" class="btn">指派给我</a>
							<input type="hidden" id="hidAssgin" />
						</div>
					</div>
				</div>
				<!-- /搜索按钮 -->
			</div>


		</div>

		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="row col-md-9" style="margin-left:1%;">
				<div class="btn-group" style="position:relative">
					<div style="position:absolute;top:20px; width:200px; z-index:99">
						<a class="btn btn-info" id="handle" data-url="@Url.Action("MultipleConfirm","Publish")">处理</a>
						<a class="btn btn-success" id="close" data-url="@Url.Action("MultipleResolve","Publish")">关闭</a>
					</div>
				</div>
				<div class="table-responsive">
					<table id="bootgrid" class="table table-striped table-hover table-dark-header">
						<thead>
							<tr>
								<th data-formatter="checkbox"></th>
								<th data-column-id="SortId">ID</th>
								<th data-column-id="PublishName" data-formatter="link">发布版本</th>
								<th data-column-id="Type">类型</th>
								<th data-column-id="Status">状态</th>
								<th data-column-id="Manager">指派给</th>
								<th data-column-id="FixDate" data-formatter="DateOnly">完成日期</th>
								<th data-column-id="Creator">创建人</th>
								<th data-column-id="CreateDate" data-formatter="DateOnly">创建日期</th>
								<th data-column-id="commands" data-formatter="commands" data-sortable="false" class="width160" data-header-Css-Class="width130">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>

		</div>

	</div>
	<!-- /main -->

</div>


@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Scripts{
	<script>
		function getGlobalRequest() {
			return {
				projectId: $('#dpProjects').val(),
				typeId: $('#dpTypes').val(),
				statusId: $('#dpStatus').val(),
				isAssign: $('#hidAssgin').val() != '',
				isJoin: $('#hidJoin').val() != '',
			};
		}

		function getGridOptions() {
			return $.extend(true, {}, gridOptions, {

				url: window.location.href,

				requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },

				formatters: {
					'checkbox': function (column, row) {
							return '<input type="checkbox" class="checkbox" data-row-id="'+row.PublishId+'" />'
					},
					'link': function (column, row) {
						var url = '@Url.Action("Detail", "Publish")?id=' + row.PublishId;
						var link = '<a href="' + url + '">' + row.PublishName + '</a>'
						return link;
					},
					'commands': function (column, row) {
						var currentUserId = '@Html.GetUserProfile().UserId';
						//if (currentUserId != row.ManagerId)
						//	return '';

						var id = row.PublishId;
						var status = row.PublishStatus;
						var projectId = $('#dpProjects').val();
						var handleButtonStr = '<a data-url="@Url.Action("Handle", "Publish")?id=' + id + '" class="btn btn-lg btn-success btn-handle">处理</a> ';
						var closeButtonStr = '<a data-url="@Url.Action("Close", "Publish")?id=' + id + '" class="btn btn-lg btn-success btn-close">关闭</a> ';
						var EditButtonStr = '<a target="_blank"  href="@Url.Action("Edit", "Publish")?id=' + id + '" class="btn btn-lg btn-info btn-edit">编辑</a> ' ;
						var relativeButtonStr ='<a data-url="@Url.Action("Relative", "Publish")?id=' + id + '" class="btn btn-lg btn-success btn-relative">关联</a> ';

						return '<div class="btn-group btn-group-xs pull-right" data-name="' + row.Name + '" data-row-id="' + id +  '">' +
							handleButtonStr +
							closeButtonStr +
							EditButtonStr+
							relativeButtonStr +
							'</div>';
					},
				},
			});
		}

		$(function () {

			isLoaded = false;

			$('#showAll').click(function () {
				$('#dpLevels,#dpStatus,#dpTypes').val('@TaskKeys.SelectAll');
				$('#hidAssgin,#txtName').val('');
				$('#bootgrid').bootgrid('reload');
			});

			$('#assign').click(function () {
				$('#hidAssgin').val('true');
				$('#bootgrid').bootgrid('reload');
			});

			$('#btnSearch').click(function () {
				$('#bootgrid').bootgrid('reload');
			});

			$('#dpProjects').searchableSelect({
				afterSelectItem: function (v) {
					if (isLoaded) {
						$('#bootgrid').bootgrid('reload');
					}
				}
			});

			$('#dpLevels,#dpStatus,#dpTypes').change(function () {
				$('#bootgrid').bootgrid('reload');
			});

			var grid = $('#bootgrid');
			grid.bootgrid(getGridOptions())
				.on('loaded.rs.jquery.bootgrid', function () {

					isLoaded = true;

					grid.find('.btn-handle,.btn-close,.btn-relative').on('click', function (e) {
						var url = $(this).data('url');
						var $proxy = $('#modelProxy');
						$proxy
							.data('url', url)
							.trigger('click');
					});

					grid.find('.btn-start,.btn-complete').on('click', function () {
						var url = $(this).data('url');

						$.post(url, function () {
							grid.bootgrid('reload')
						})
					});

					//bind checkbox column
					$('th:first').html('<input type="checkbox" class="checkAll" />').find('.checkAll').click(function () {
						grid.find('.checkbox').click();
					});

					// multiple start,complete and close tasks
					$('#handle,#close,#relative').off('click').on('click', function () {
						result = [];
						grid.find('.checkbox').each(function (i) {
							$this = $(this);
							if ($this.is(':checked')) {
								result.push($this.data('rowId'));
							}
						});

						if (result.length > 0) {
							var projectId = $('#dpProjects').val();
							var url = $(this).data('url') + "?ids=" + result.join(',') + '&projectId=' + projectId;
							var $proxy = $('#modelProxy');
							$proxy
								.data('url', url)
								.trigger('click');
						}
						else {
							alert('请先勾选发布申请！')
						}
					});

				});

			$('.search').hide();

		});

	</script>
}