@{
	var pageTitle = "工作日志";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var defaultItem = new SelectListItem { Text = "全部", Value = ProjectKeys.SelectAll.ToString() };
	var projectsSelectList = SelectListHelper.GetSelectItems(ViewBag.Projects as List<Project>, "ProjectName", "ProjectId",null, defaultItem);
}

<div class="content-wrapper">

	@*<div class="main-header">
		<h3><i class="fa fa-pencil"></i> @pageTitle</h3>
		<em></em>
	</div>*@
	<div class="main-content">

		<!-- widget -->
		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
				<div class="btn-group widget-header-toolbar">
					<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
				</div>
			</div>
			<div class="widget-content">

				<div class="row">
					<div class="form-horizontal">

						<div class="col-sm-4">
							<div class="form-group">
								<label class="col-md-6 control-label">查询类型</label>
								<div class="col-md-6">

									<select id="dateRangeType" class="form-control">
										<option value="today">今日日志</option>
										<option value="byStart">日志记录时间查询</option>
									</select>
									@*<div>
										<button class="btn btn-info sumHours" style="margin-top:10px">计算总工时</button>
									</div>*@
								</div>
							</div>
						</div>


						<div class="col-sm-4 hidden startDate">
							<div class="form-group">
								<label class="col-md-6 control-label">时间范围</label>
								<div class="col-md-6">

									<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
										@Html.TextBox("Start", DateTime.Now.TodayStart().ToString("yyyy-MM-dd"), new { @class = "form-control plan start" })
										<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
									</div>

									<input type="hidden" id="SearchType" value="@JournalKeys.SearchToday" />
									<input type="hidden" id="SelectDateType" value="@JournalKeys.StartDateSelect"  />
								</div>
							</div>
						</div>

						<div class="col-sm-4 hidden startDate">
							<div class="form-group">
								<div class="col-md-6">
									<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
										@Html.TextBox("End", DateTime.Now.TodayEnd().ToString("yyyy-MM-dd"), new { @class = "form-control plan end" })
										<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
						</div>

						<!-- /项目类型筛选下拉框 -->
						<!-- 项目筛选下拉框 -->
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="FormGroup">
									<label class="col-md-6 control-label">项目名称</label>
									<div class="col-md-6">
										@Html.DropDownList("dropdown_Projects", projectsSelectList, new { @class = "form-control dropdown-myProjects" })
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Grid -->
				<div class="table-responsive">
					<table id="bootgrid" class="table table-striped table-hover table-dark-header">
						<thead>
							<tr>
								<th data-column-id="projectName">项目名称</th>
								<th data-column-id="taskName">任务名称</th>
								<th data-column-id="taskTypeName">任务类型</th>
								<th data-column-id="subTypeTitle">子类型</th>
								<th data-column-id="start" data-formatter="DateOnly">开始时间</th>
								<th data-column-id="end" data-formatter="DateOnly">结束时间</th>
								<th data-column-id="estimateHours">预计工时</th>
								<th data-column-id="progress" >任务进度</th>
								<th data-column-id="workhours" data-formatter="subTypeValue" >今日工时/(工作数量)</th>
								@*<th data-column-id="comment" class="width80">日志描述</th>*@
								<th data-column-id="recordDate" data-formatter="DateOnly">记录时间</th>
								<th data-column-id="commands" data-formatter="commands" data-sortable="false" data-header-Css-Class="width220">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /widget content -->
		</div>
		<!-- /widget -->
	</div>
	<input type="hidden" class="current"/>
	<input type="hidden"  class="isKeepCurrent" />
</div>
@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Scripts {
	<script>
		function getGlobalRequest() {
			return {
				start: $('#Start').val(),
				end: $('#End').val(),
				searchType: $('#SearchType').val(),
				projectId: $('.dropdown-myProjects').val()
			};
		}

		function getGridOptions() {
			return $.extend(true, {}, gridOptions, {

				url: window.location.href,

				responseHandler: function (data) {
					var response = {
						current: data.current,  
						rowCount: data.rowCount,
						rows: data.rows,
						total: data.total
					};
					$('.current').val(data.current);//记住当前页的方法，如有更好的方法可以优化
					return response;
				},

				requestHandler: function (request) {
					var isKeepCurrent = $('.isKeepCurrent'); //为了避免修改日志后刷新刷新到数据首页
					if (isKeepCurrent.val() == 'true') {
						request.current = $('.current').val();
						isKeepCurrent.val('');//清空
					}
					return $.extend(true, request, getGlobalRequest());
				},

				formatters: {
					'subTypeValue': function (column, row) {
						var str = row.workhours;
						if (row.taskType != '@TaskKeys.ProjectTaskType' && row.taskType != '@TaskKeys.TempTaskType') {
							str += ' / ' + row.subTypeValue + ''
						}

						return str;
					},
					'commands': function (column, row) {
						var id = row.id;
						var str = '';
						canEdit = row.canEdit == 'True';


						if (row.isParent) {
							str = '<span>父节点自动计算</span>';
							return str;
						}
						else if (row.progress == '100%') {
							str = '<span>任务已结束</span>';
							return str;
						}

						str += '<div class="btn-group btn-group-xs pull-right" data-row-id="' + row.id + '" data-row-active="' + row.actived + '">' +
												 '<button class="btn btn-lg btn-success btn-save btn-write">填写</button> ';

						if (row.hasAttachment)
							str += '<button data-url="' + row.attachmentUrl + '" class="btn btn-lg btn-warning btn-save btn-download">附件下载</button> ';
						if (row.taskStatus=='@TaskKeys.ProcessStatus')
							str += '<button data-taskid="' + row.taskId + '" data-url="@Url.Action("ReviewRequest", "Task")" class="btn btn-lg btn-info btn-submitRequest">提交任务</button> ';
						else if (row.taskStatus == '@TaskKeys.ReviewStatus')
							str += '<button class="btn btn-lg disable">审核中</button> ';
						else if (row.taskStatus == '@TaskKeys.DeleteStatus')
							str += '<button class="btn btn-lg disable">已删除</button> ';
						str += '</div>';

						return str;
					},
				},
			});
		}

		$(function () {

			var grid = $('#bootgrid');
			grid.bootgrid(getGridOptions())
			.on('loaded.rs.jquery.bootgrid', function () {

				// edit
				grid.find('.btn-write').on('click', function (e) {
					var id = $(this).parent().data('rowId');
					var $proxy = $('#modelProxy');
					$proxy
						.data('url', '/WorkJournal/Edit/?id=' + id)
						.trigger('click');
				});

				//att download
				grid.find('.btn-download').on('click', function (e) {
					var url = $(this).data('url');
					location.href = url;
				});

				//submit request
				grid.find('.btn-submitRequest').on('click', function (e) {
					var taskId = $(this).data('taskid');
					var url = $(this).data('url');
					url += '?id=' + taskId + '&reviewType=@ReviewKeys.ReviewTypeForTkSubmit';

					if (confirm('@Confirm.Task.TASK_SUBMIT_REQUEST')) {
						window.open(url);
					}
					else
						return false;
				});

			});

			$('.dropdown-myProjects').change(function () {
				$('#bootgrid').bootgrid('reload');
			});


			$('#dateRangeType').on('change', function () {

				var typeVal = $(this).val();

				if (typeVal == "byStart") {
					$('#SearchType').val('@JournalKeys.SearchDateRange');
					$('.startDate, .endDate').removeClass('hidden');
				}
				else if (typeVal == "byEnd") {
					$('#SearchType').val('@JournalKeys.SearchDateRange');
					$('.startDate, .endDate').removeClass('hidden');
				}
				else {
					$('.startDate, .endDate').addClass('hidden');
					$('#SearchType').val('@JournalKeys.SearchToday');
				}

				$('#bootgrid').bootgrid('reload');
			});


			$('.start,.end').on('change', function () {
				$('#bootgrid').bootgrid('reload');
			});

		});

	</script>
}

