@model Guid
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//var projectId = string.IsNullOrEmpty(Request["projectId"])? Guid.Empty: Request["projectId"].ToGuid(Guid.Empty);
	var hasSearchPermission = ViewBag.HasPermission ?? true;

}
@section Css{
	<link href="~/assets/plugins/jstree-3.2.1/themes/default/style.min.css" rel="stylesheet" />
	<link href="~/assets/css/plugins.css" rel="stylesheet" />
}
<style>
	.jstree-themeicon-custom {
		font-size: 22px;
	}
</style>

<div class="content-wrapper">
	<div class="header"></div>

	<!-- main -->
	<div class="content">
		<div class="row">

			<!-- explorer nav -->
			<div class="col-md-4">
				<div class="widget">

					<div class="widget-header"></div>
					<div class="widget-content navigator">
						<div>
							<input type="text" id="search_file_node" class="form-control" />
						</div>
						<div class="explorer-nav">

						</div>
					</div>

				</div>

			</div>
			<!-- /explorer nav -->
			<!-- explorer content -->
			<div class="col-md-8">
				<div class="widget">

					<div class="widget-header">
						<div class="explore-header">
							<ul>
								<li>
									<a class="btn_up" href="#">
										<i class="fa fa-arrow-circle-up"></i>
									</a>
								</li>
								<li>

									<input type="text" class="folder_path form-control" readonly value="中小学事业部" />
								</li>
								<li>
									<a href="#" class="btn_refresh">
										<i class="fa fa-refresh"></i>
									</a>
								</li>
								<li>
									<input type="text" class="search form-control" placeholder="搜索文件" />
								</li>
								<li>
									<a class="btn_search" href="#">
										<i class="fa fa-search"></i>
									</a>
								</li>
								<li>
									<button class="btn btn-sm btn-info btn-add-folder">添加文件夹</button>
								</li>
								<li>
									<button class="btn btn-sm btn-danger btn-add-file">添加文件</button>
								</li>
							</ul>
						</div>
					</div>

					<div class="widget-content row  explore-body">
						@if (hasSearchPermission)
						{
						<div class="col-xs-12 ">
							<div class="center-block"><i class="fa fa-folder-open"></i></div>
						</div>
						}
						else
						{
							<div class="alert-danger">
							   @Errors.FolderPermission.NOT_ALLOWED_SEARCH
							</div>
						}
					</div>

				</div>
			</div>
			<!-- /explorer content -->

		</div>
	</div>
	<!-- /main -->
	<input type="hidden" id="ProjectFolderId" value="@Model" />
</div>

@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal"></button>
	<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
}

@section Scripts{
	<script src="~/assets/js/popup.js"></script>
	<script src="~/assets/js/jstree.min.js"></script>
	<script src="~/assets/plugins/pdf.object/pdfobject.min.js"></script>
	<script>
		$(function () {

			bindExplorButtons();

			var para = { parentId: '@Model', phrase: '' };

			loadData(function () {
				bindLeftNav();
				showFolderFiles();
			}, para);

		});

		var currentFolderId;
		var folders = [], files = [], searchFolders = [], searchFiles = [], copyFiles = [];
		var folderOptions = {
			items: [
			  { text: '打开', onclick: function (e) { openFolder(e.data['folderId']); } },
			  { text: '删除', onclick: function (e) { delFolderPop(e.data['folderId']); } },
			  { text: '重命名', onclick: function (e) { editFolder(e.data['folderId']); } },
			  { divider: true },
			  { text: '设置权限', onclick: function (e) { editFolderPermission(e.data['folderId']) } }
			]
		};
		var fileOptions = {
			items: [
			  { text: '预览', onclick: function (e) { preview(e.data['fileId']); } },
			  { text: '重命名', onclick: function (e) { editFile(e.data['fileId']); } },
			  { text: '下载', onclick: function (e) { download(e.data['filePath']); } },
			  { text: '删除', onclick: function (e) { delFilePop(e.data['fileId']); } },
			  { divider: true },
			  { text: '发送到', onclick: function (e) { sendToFolder(e.data['fileId']); } },
			  { text: '设置权限', onclick: function (e) { editFilePermission(e.data['fileId']) } }
			]
		};

		var emptyMessageStr = '<div class="text-center">该文件夹为空</div>';
		var folderStr = function (folder) {
			var folderClassName = folder.isMyFolder ? 'myFolder' : 'folder';
			return '<div class="item col-lg-2 col-sm-2 col-xs-4" title="' + folder.name + '">' +
							 '<div class="btn06 ' + folderClassName + '" data-id="' + folder.id + '" data-path="' + folder.path + '" data-folder-id="' + folder.id + '">' +
								'<img src="' + folder.coverPath + '" />' +
								 '<div class="ovrly"></div>' +
								 '<div class="buttons">' +
									'<a href="#" title="进入" class="fa fa-search"></a>' +
								  '</div><div class="text-center name">' + folder.name + '</div>' +
					 '</div>' +
				 '</div>'
		};
		var fileStr = function (file) {
			if (!file) return '';
			var fileClassName = file && file.isMyFile ? 'myFile' : 'file';
			return '<div class="item col-lg-2 col-sm-2 col-xs-4" id="' + file.id + '" title="' + file.name + '">' +
									'<div class="btn06 ' + fileClassName + '" data-file-id="' + file.id + '" data-file-path="' + file.path + '" data-attachment-id="' + file.attachmentId + '">' +
									  '<img src="' + file.coverPath + '" />' +
										'<div class="ovrly"></div>' +
										'<div class="buttons">' +
											'<a href="' + file.path + '" title="下载" class="fa fa-download"></a>' +
											'<a data-url="@Url.Action("FilePreview", "ShareFolder")?id=' + file.id + '" title="预览" class="fa fa-eye preview"></a>' +
								'</div><div class="text-center name">' + file.name + '</div>' +
							'</div>' +
						'</div>';
		};

		function searchNode(treeview) {
			$('#search_file_node').on('keyup', function () {
				treeview.jstree(true).search($('#search_file_node').val())
			});
		}


		//folder operation
		function openFolder(folderId) {
			var folder = findFolderById(folderId);
			setExplorePath(folder.path);
			showFolderFiles(folderId);
		}

		function delFolderPop(folderId) {
			$('#modelProxy')
				.data('url', '@Url.Action("Delete","ShareFolder")?id=' + folderId)
				.trigger('click');
		}

		function delFilePop(folderId) {
			$('#modelProxy')
				.data('url', '@Url.Action("Delete","ShareFolder")?id=' + folderId)
				.trigger('click');
		}

		function editFolder(folderId) {
			$('#modelProxy')
				.data('url', '@Url.Action("Edit","ShareFolder")?id=' + folderId)
				.trigger('click');
		}

		function editFolderPermission(folderId) {
			$('#modelProxy')
			.data('url', '@Url.Action("SetFolderPermission", "ShareFolder")?id=' + folderId)
			.trigger('click');
		}

		function editFilePermission(fileId)
		{
			$('#modelProxy')
			.data('url', '@Url.Action("SetFilePermission", "ShareFolder")?id='+ fileId)
			.trigger('click');
		}

		function bindFolderClick() {
			$('.folder,.myFolder').click(function () {
				openFolder($(this).data('id'))
			});
			$('.folder,.myFolder').find('.fa-search').click(function (e) {
				e.stopPropagation();
			});
		};

		function findFolderById(folderId) {
			for (var f in folders) {
				if (folders[f].id == folderId) {
					return folders[f];
				}
			}
			return { id: '@ThisApp.DefaultId' }; //rootfolder;
		}

		function findParentFolder(folderId) {
			var folder = findFolderById(folderId);
			var parent = findFolderById(folder.parentId);
			if (!parent)
				parent = { id: '@ThisApp.DefaultId' };
			return parent;
		}


		function showFolderFiles(folderId) {
			var itemStr = '';
			if (!folderId)
				folderId = '@ThisApp.DefaultId';
			for (var f in folders) {
				if (folders[f].parentId == folderId) {
					itemStr += folderStr(folders[f]);
				}
			}
			for (var i in files) {
				if (files[i].folderId == folderId) {
					itemStr += fileStr(files[i]);
				}
			}
			$('.explore-body').html('').append(itemStr == '' ? emptyMessageStr : itemStr);
			bindFolderClick();
			bindPopup();
			bindPreview();
			currentFolderId = folderId;
		}

		function download(path) {
			window.open(path);
		}

		function preview(fileId) {
			$('#modelProxy')
						.data('url', '@Url.Action("FilePreview", "ShareFolder")?id=' + fileId)
						.trigger('click');
		}

		function editFile(fileId) {
			$('#modelProxy')
				.data('url', '@Url.Action("FileEdit", "ShareFolder")?id=' + fileId)
				.trigger('click');
		}

		function bindPreview() {
			$('.file,.myFile').find('.preview').click(function () {
				var url = $(this).data('url');
				$('#modelProxy')
						.data('url', url)
						.trigger('click');
			});
		}

		function sendToFolder(itemId) {
			$('#modelProxy')
				.data('url', '@Url.Action("SendToFolder", "ShareFolder")?itemId=' + itemId + '&originFolderId=' + currentFolderId)
				.trigger('click');
		}

		//explorer operation
		function bindPopup() {
			$('.myFolder,.folder').contextify(folderOptions);
			$('.myFile,.file').contextify(fileOptions);
		}

		function bindUpClick() {

		}

		function setExplorePath(path) {
			$('.folder_path').val(path);
		}

		function bindLeftNav() {
			var root = { id: '@ThisApp.DefaultId', parent: '#', text: '中小学事业部' };
			var data = [root];
			if (!folders) return;
			$(folders).each(function () {
				var folder = this;
				data.push({
					"id": folder.id,
					"parent": folder.parentId,
					"text": folder.name
				});
			});
			var $treeviewApp = $('.explorer-nav');
			$treeviewApp.jstree("destroy");
			$treeviewApp.jstree({
				'core': {
					'data': data,
					'check_callback': true,
				},
				'plugins': ['types', 'search', 'contextmenu'],
				'contextmenu': {
					'items': {
						'addFile': {
							'label': '新增文件',
							'action': function (data) {
								var inst = jQuery.jstree.reference(data.reference);
								var obj = inst.get_node(data.reference);
								$('#modelProxy')
								.data('url', '@Url.Action("FileEdit", "ShareFolder")?folderId=' + currentFolderId)
								.trigger('click');
							}
						},
						'addFolder': {
							'label': '新增文件夹',
							'action': function (data) {
								var inst = jQuery.jstree.reference(data.reference);
								var obj = inst.get_node(data.reference);
								$('#modelProxy')
								.data('url', '@Url.Action("Edit", "ShareFolder")?parentId=' + currentFolderId)
								.trigger('click');
							}
						},
						'remove': {
							'label': '删除文件夹',
							'action': function (data) {
								var inst = jQuery.jstree.reference(data.reference);
								var obj = inst.get_node(data.reference);
								delFolderPop(obj.id);
							}
						},
						'rename': {
							'label': '重命名',
							'action': function (data) {
								var inst = jQuery.jstree.reference(data.reference);
								var obj = inst.get_node(data.reference);
								editFolder(obj.id);
							}
						},
						'permission': {
							'label': '设置权限',
							'action': function (data) {
								var inst = jQuery.jstree.reference(data.reference);
								var obj = inst.get_node(data.reference);
								fileId = '@Guid.Empty';
								editFolderPermission(obj.id)
							}
						}
						,
						'sendTo': {
							'label': '发送到',
							'action': function (data) {
								alert('正在开发中');
							}
						}
					}
				},
				'types': {
					'root': {
						'icon': 'fa fa-star yellow-font'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
				}
			}).on('loaded.jstree', function (e, data) {
				searchNode($('.explorer-nav'));
			}).on('changed.jstree', function (e, data) {
				openFolder(data.node["id"]);
			}).on('ready.jstree', function () {
				//$treeviewApp.jstree('open_all');
				$treeviewApp.jstree('open_node', '#' + root.id);
			});

		}

		function bindExplorButtons() {
			$('.btn-add-folder').click(function () {
				$('#modelProxy')
						.data('url', '@Url.Action("Edit","ShareFolder")?parentId=' + currentFolderId)
						.trigger('click');
			});
			$('.btn-add-file').click(function () {
				$('#modelProxy')
						.data('url', '@Url.Action("FileEdit","ShareFolder")?fileId=' + 11111111 + '&folderId=' + currentFolderId)
						.trigger('click');
			});
			$('.btn_search').click(function () {
				searchData(function () {
					var itemStr = '';
					for (var i = 0; i < files.length; i++) {
						itemStr += fileStr(searchFiles[i]);
					}
					$('.explore-body').html('').append(itemStr);
					bindPopup();
					bindPreview();
					setExplorePath("搜索结果");
				}, { phrase: $('.search').val(), parentId: currentFolderId });
			});
			$('.btn_up').click(function () {
				if (!currentFolderId) return;
				var currentFolder = findFolderById(currentFolderId);
				if (currentFolder) {
					showFolderFiles(currentFolder.parentId);
					setExplorePath(currentFolder.path);
				}
			});
		}

		//http operation
		function loadData(callback, para) {
			$.post('@Url.Action("Search", "ShareFolder")', para, function (data) {
				folders = [];
				files = [];
				$(data.rows.folders).each(function () {
					folders.push(this);
				});
				$(data.rows.files).each(function () {
					files.push(this);
				});
				if (callback) {
					callback(data);
				}
			});
		}

		function searchData(callback, para) {
			$.post('@Url.Action("Search", "ShareFolder")', para, function (data) {
				searchFolders = [];
				searchFiles = [];
				$(data.rows.folders).each(function () {
					searchFolders.push(this);
				});
				$(data.rows.files).each(function () {
					searchFiles.push(this);
				});
				if (callback) {
					callback(data);
				}
			});
		}

	</script>
}