@model Advice
@{
	var isDeny = ViewBag.isDeny != null && (bool)ViewBag.isDeny;
	var isDetail = ViewBag.isDetail != null && (bool)ViewBag.isDetail;
}

<div class="modal-dialog">

	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> 编辑项目</h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">

			<form class="form-horizontal" action="@Url.Action("Edit", "Advice")" role="form" data-after-success="afterDialogSuccess()">
				@Html.AntiForgeryToken()
				<div class="row">
					<fieldset class="col-sm-12">
						@Html.HiddenFor(a => a.AdviceId)
						@Html.HiddenFor(a => a.CreatorId)
						@Html.HiddenFor(a => a.Status)
						@Html.HiddenFor(a => a.IsAdopt)
					   @*如果是查看详细*@
						@if (isDetail)
						{
							@Html.HiddenFor(a => a.Title)
							@Html.HiddenFor(a => a.Content)
							@Html.HiddenFor(a => a.Reason)
							<div class="form-group">
								@Html.LabelFor(a => a.Title, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.Label("", Model.Title, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(a => a.Content, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.Label("", Model.Content, new { @class = "form-control" })
								</div>
							</div>
							if (isDeny)
							{
								<div class="form-group">
									@Html.LabelFor(a => a.Reason, new { @class = "control-label col-md-3" })
									<div class="col-md-9">
										@Html.Label("", Model.Reason, new { @class = "form-control", @rows = "8" })
									</div>
								</div>
							}
						}
						@*如果不采纳则填写原因*@
						else if (!isDeny)
						{
							<div class="form-group">
								@Html.LabelFor(a => a.Title, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(a => a.Content, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.TextAreaFor(a => a.Content, new { @class = "form-control", @rows = "8" })
								</div>
							</div>
						}
						@*否则是修改*@
						else
						{
							@Html.HiddenFor(a => a.Title)
							@Html.HiddenFor(a => a.Content)
							<div class="form-group">
								@Html.LabelFor(a => a.Title, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.Label("", Model.Title, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(a => a.Content, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.Label("", Model.Content, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(a => a.Reason, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.TextAreaFor(a => a.Reason, new { @class = "form-control", @rows = "8" })
								</div>
							</div>
						}
						@if (!isDetail)
						{
						<div class="form-group">
							<div class="col-sm-9 col-lg-offset-3">
								<button type="submit" class="btn btn-primary btn-block-half"><i class="fa fa-check-circle"></i> 保存</button>
								<button type="button" class="btn btn-default btn-block-half" data-dismiss="modal">取消</button>
							</div>
						</div>
						}
					</fieldset>
				</div>
			</form>

		</div>
	</div>
	<!-- end widget -->
</div>
<script>

	$(function () {

							ajaxSubmitForm($('.modal-dialog form'));

		$('#')

	})

	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
						}

</script>