@model EvalTargetEditViewModels
@{
	var accessorTargets = Model.AccessorsAndTargets;
	var tablePropertion = Model.TablePropertion;
}

@foreach (var item in tablePropertion)
{
    var table = accessorTargets.Find(x => x.TableId == item.TableId);
    if (table != null)
    {
	<div class="alert alert-info">
		<div class="row itemTitle">
			<div class="col-sm-10">
				<i class="fa fa-star"></i>	@table.TableName
			</div>
		</div>
		<div class="row subItem">
			<div class="col-sm-4 important">考核表权重(%)	:</div>
			<div class="col-sm-4"><input placeholder="输入占比" class="score form-control" id="TablePropertion" value="@item.Propertion"  readonly/></div>
		</div>
		<hr class="subItem" />
		@foreach (var subItem in accessorTargets.Where(x => x.TableId == item.TableId))
        {
			<div class="row subItem accessor">
				<div class="col-sm-4">考核人：@(subItem.AccessorName)权重(%):</div>
				<div class="col-sm-4">
					<input id="AccessorPropertion" placeholder="输入权重" class="weight form-control" value="@subItem.Propertion" readonly />
				</div>
				<input type="hidden" id="AccessorTargetId" value="@subItem.AccessorTargetId" />
				<input type="hidden" id="AccessorId" value="@subItem.AccessorId" />
			</div>
        }


		<div class="text-right subItem">
			<button class="btn btn-success btn-ok hidden">确定</button>
			<button class="btn btn-info btn-modify ">修改</button>
		</div>

		<input type="hidden" id="TableId" value="@item.TableId" />
		<input type="hidden" id="TargetId" value="@Model.AccessorsAndTargets[0].TargetId" />
		<input type="hidden" id="PropertionID" value="@item.PropertionID" />
	</div>
    }
}