@{
	var pageTitle = ViewBag.Title = "小组管理";
	Layout = "~/Views/Shared/_StudioLayout.cshtml";
}
<div class="col-md-10 content-wrapper">

	<div class="main-header">
		<h2><i class="fa fa-users"></i> @pageTitle</h2>
		<em></em>
	</div>
	<div class="main-content">
		<div class="gallery-buttons bottom-30px">
			<button class="btn btn-md btn-custom-primary" data-toggle="ajax-modal" data-url="@Url.Action("Edit", "EvalGroup")" data-target="#firstModal"><i class="fa fa-plus-square"></i> <span>新增</span></button>
		</div>
		<!-- widget -->
		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
				<div class="btn-group widget-header-toolbar">
					<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
				</div>
			</div>
			<div class="widget-content">
				<!-- Grid -->
				<div class="table-responsive">
					<table id="bootgrid" class="table table-striped table-hover table-dark-header">
						<thead>
							<tr>
								<th data-column-id="GroupName">组名称</th>
								<th data-column-id="commands" data-formatter="commands" data-sortable="false" >操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /widget content -->
		</div>
		<!-- /widget -->

	</div>

</div>

@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Scripts {
	<script>

		function getGridOptions() {
			return $.extend(true, {}, gridOptions, {

				url: window.location.href,

				formatters: {
					'commands': function (column, row) {
						var id = row.GroupId;
						var url = '@Url.Action("BindGroupTablesWeightAndPropertion", "EvalGroup")?groupId='+id;
						return '<div class="btn-group btn-group-xs pull-right" data-row-id="' + id + '">' +
                                     '<button class="btn btn-success btn-edit">编辑</button>' +
							                '<button class="btn btn-warning btn-members">选择组成员</button>' +
							                '<button class="btn btn-danger btn-accessors">选择考核人</button>' +
												 '<a class="btn btn-info btn-details" href="' + url + '" target="_blank">详细</a>' +
						'</div>';
					},
				},
			});
		}

		$(function () {

			var grid = $('#bootgrid');
			grid.bootgrid(getGridOptions())
			.on('loaded.rs.jquery.bootgrid', function () {

				// edit
				grid.find('.btn-edit').on('click', function (e) {
					var id = $(this).parent().data('rowId');
					$('#modelProxy')
						.data('url', '/EvalGroup/Edit?id=' + id)
						.trigger('click');
				});

				grid.find('.btn-accessors').on('click', function (e) {
					var id = $(this).parent().data('rowId');
					$('#modelProxy')
					.data('url', '/EvalGroup/BindGroupAccessors?groupId=' + id)
					.trigger('click');
				});


				//delete
				grid.find('.btn-delete').on('click', function (e) {
					var id = $(this).parent().data('rowId');
					$.post('@Url.Action("Delete","EvalGroup")', {id:id}, function (data) {
						popupMessage(data, {
							success: function () { commitedNotice(); }
						});
					});
				});

			});

		});

		function commitedNotice() {
			$('#firstModal').modal('hide');
			$('#bootgrid').bootgrid('reload');
		}

	</script>
}