@model Bug
@{
	var attahcments = ViewBag.Attahcments as List<Attachment>;
}
<link href="~/assets/plugins/select2-4.0.2/css/select2.min.css" rel="stylesheet" />
<style>
	.dropzonePop {
		display: none;
	}
</style>


<div class="modal-dialog" style="width:95%;">

	<div class="row">

		<!-- widget -->
		<div class="widget details col-md-7 col-md-offset-1">

			<form id="bugForm" class="form-horizontal" action="@Url.Action("Edit","bug")" role="form" data-after-success="afterDialogSuccess()" style="">

				<div class="widget-content">

					<div class="row">
					<h4>bug 关联</h4>
					 <hr />
					</div>

					<div class="row editTaskInfo">
						<fieldset class="col-sm-12">

							@Html.HiddenFor(t => t.SortId)
							@Html.HiddenFor(t => t.BugId)
							@Html.HiddenFor(x => x.RelativeTaskIds)
							@Html.HiddenFor(x => x.BugStatus)


							<div class="form-group">
								@Html.LabelFor(t => t.SortId, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.Label("BugID",Model.SortId.ToString(), new { @class = "form-control" })
								</div>
								@Html.ValidationMessageFor(t => t.BugName)
							</div>

							<div class="form-group">
								@Html.LabelFor(t => t.BugName, new { @class = "control-label col-md-2" })
								<div class="col-md-9">
								@Html.Label("BugName", Model.BugName, new { @class = "form-control" })
								</div>
								@Html.ValidationMessageFor(t => t.BugName)
							</div>


							<div class="form-group">
								@Html.LabelFor(t => t.BrowserName, new { @class = "control-label col-md-2" })
								<div class="col-md-3">
									@Html.DropDownListFor(t => t.BrowserId,
									DictionaryCache.Cached(BugKeys.BrowserGuid)
													.GetSelectListById(Guid.Empty, SelectListHelper.Default),
									new { @class = "form-control" })
								</div>

								@Html.LabelFor(t => t.SystemId, new { @class = "control-label col-md-2" })
								<div class="col-md-3">
									@Html.DropDownListFor(t => t.SystemId,
									DictionaryCache.Cached(BugKeys.SystemGuid)
													.GetSelectListById(Guid.Empty, SelectListHelper.Default),
									new { @class = "form-control" })
								</div>
							</div>

							<div class="form-group">
								@Html.Label("", "备注", new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.TextArea("Remark", "", 12, 2, new { @class = "form-control" })
								</div>
							</div>


							<div class="input-group center-block">
								<button id="submit" class="btn btn-info col-md-3 col-md-offset-2 btn-custom-primary">保存</button>
								<a class="btn btn-info col-md-3" data-dismiss="modal">取消</a>
							</div>

						</fieldset>

					</div>

				</div>

			</form>

		</div>


	</div>
</div>


<script src="~/assets/plugins/ckeditor_4.14.1_standard/ckeditor/ckeditor.js"></script>

<script>

	$(function () {

		ajaxSubmitForm($('#bugForm'), true);

		initCKEditor('Remark');

	});


	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
	}



</script>

