@model Project
@{
	var resourceSelectList = SelectListHelper.GetSelectItems(Model.Resources, "ResourceName", "UserId", null, SelectListHelper.Default);
}
<style>
	input[disabled] {
		background: #eee;
	}

	.projectInfo .form-control, .projectEstimateInfo .form-control {
		background: #eee;
	}
</style>
<div class="widget">

	<form class="form-horizontal details" action="@Url.Action("Edit","Project")" role="form" data-after-success="afterDialogSuccess()">
		<div class="widget-header">
			<h3><i class="fa fa-info"></i>项目信息</h3>
			<div class="btn-group widget-header-toolbar">
				@if (Html.HasPermission(Model.ProjectId.ToString(), "P_10002"))
				{
				<button type="submit" class="btn btn-danger btn-sm btn-save">保存</button>
				@*<button type="submit" class="btn btn-success btn-sm btn-start">启动</button>
					<button type="submit" class="btn btn-info btn-sm btn-forceClose" title="注意：强制关闭后，项目所有任务都关闭，项目状态也为关闭状态"><i class="fa fa-question-circle"></i>强制关闭</button>*@
					}
			</div>
		</div>
		<div class="widget-content">
			@*<div class="alert alert-success">
					基本信息

				</div>*@
			<div class="row editProjectInfo">


				<fieldset class="col-sm-6">
					@Html.HiddenFor(p => p.ProjectId)
					@Html.HiddenFor(p=>p.CreateDate)
					@Html.HiddenFor(p=>p.Creator)
					@Html.HiddenFor(p => p.Attachment.RealName)
					@Html.HiddenFor(p => p.Attachment.Url)
					@Html.HiddenFor(p => p.ProjectStatus)
					@Html.HiddenFor(p => p.RateOfProgress)
					@Html.HiddenFor(p => p.ProcessName)

					<div class="form-group">
						@Html.LabelFor(p => p.ProjectName, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(p => p.ProjectName, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.ProjectName)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.ProjectOwner, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(p => p.ProjectOwner, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.ProjectOwner)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.ProjectExecutor, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(p => p.ProjectExecutor, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.ProjectExecutor)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.OrgId, new { @class = "control-label col-md-3 plan" })
						<div class="col-md-9">
							@Html.DropDownListFor(p => p.OrgId,
									DictionaryCache.Cached(OrgKeys.OrgKey)
														.GetSelectListById(Model.OrgId),
									new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.Header, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(p => p.PMId,
									resourceSelectList,
									new { @class = "form-control dropdown-header" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.Description, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextAreaFor(p => p.Description, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.Description)
						</div>
					</div>
				</fieldset>
				<fieldset class="col-sm-6">
					<div class="form-group">
						@Html.LabelFor(p => p.Code, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(p => p.Code, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.Code)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.RealCode, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(p => p.RealCode, new { @class = "form-control plan" })
							@Html.ValidationMessageFor(p => p.RealCode)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.ProjectType, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(p => p.ProjectType,
									DictionaryCache.Cached(ProjectKeys.ProjectTypeKeyGuid)
														.GetSelectListById(Model.ProjectType),
									new { @class = "form-control plan" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.ProjectStatus, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<span class="form-control">@Model.Status</span>
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.Manager, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(p => p.ManagerId,
									resourceSelectList,
									new { @class = "form-control dropdown-manager" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(p => p.Reviewer, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(p => p.ReviewerId,
									resourceSelectList,
									new { @class = "form-control dropdown-reviewer" })
						</div>
					</div>
				</fieldset>

			</div>
			<div class="alert alert-success projectEstimate">
					<div class="row">
						<div class="col-md-4">项目预估 & 进度</div>
					</div>
				</div>
			<div class="row projectEstimateEdit">
					<fieldset class="col-sm-6">
						<div class="form-group">
							@Html.LabelFor(p => p.StartDate, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
									@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(p => p.EndDate, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
									@Html.TextBoxFor(p => p.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-lg-offset-3">
							</div>
						</div>
					</fieldset>
					<fieldset class="col-sm-6"></fieldset>
					<fieldset class="col-sm-6">
						<div class="form-group">
							@Html.LabelFor(p => p.RateOfProgress, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<span class="form-control">@Model.RateOfProgress%</span>
							</div>
						</div>
					</fieldset>
			</div>
		</div>
	</form>

</div>
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-get-pocket"></i>项目里程碑</h3>
		<div class="btn-group widget-header-toolbar">
			<button class="btn btn-info btn-sm btn-milestone" id="milestones" data-toggle="ajax-modal" data-url="@Url.Action("ChooseExceptDefault", "MileStone",new { projectId= Model.ProjectId })" data-target="#firstModal">选择里程碑</button>
		</div>
	</div>
	<div class="widget-content">
		@foreach (var item in Model.MileStones)
		{
		<div class="row form-group">
			<div class="col-md-1">@item.StoneName:</div>
			<div class="col-md-3">
				@Html.DropDownList("plan",
										                    DictionaryCache.Cached(MilestoneKeys.MileStoneStatusKeyGuid).GetSelectListById(item.Status)
																  , new { @class = "form-control stoneStatus" })
		</div>
		<div class="col-md-1">内容:</div>
		<div class="col-md-3">@Html.TextArea("StoneContent", item.Content,new { @class = "form-control stoneContent" })</div>
		<div class="col-md-4"><a class="btn btn-success">进入文件夹</a><a class="btn btn-info btn-editStone" title="保存"><i class="fa fa-save"></i></a><a class="btn btn-warning btn-removeStone"><i class="fa fa-remove"></i></a></div>
		<input type="hidden" class="pmsId" value="@item.PmsId" />
		<input type="hidden" class="folderId" value="@item.FolderId" />
		<input type="hidden" class="stoneId" value="@item.StoneId" />
		<input type="hidden" class="projectId" value="@item.Projectid" />
	</div>
		}
	</div>
</div>
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-get-pocket"></i>项目款项管理</h3>
		<div class="btn-group widget-header-toolbar">
			<button type="submit" class="btn btn-danger btn-sm btn-save">保存</button>
		</div>
	</div>
	<div class="widget-content">
		<div class="row form-group">
			<div class="col-md-1">首付款:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">开票时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
			<div class="col-md-1">到账时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-1">首付款:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">开票时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
			<div class="col-md-1">到账时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-1">首付款:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">开票时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
			<div class="col-md-1">到账时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
		<div class="alert alert-info">
			<div class="row">
				<div class="col-md-4">外包管理</div>
			</div>
		</div>
		<div><b>内部供应商:</b></div>
		<hr />
		<div class="row form-group">
			<div class="col-md-1">名称:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-2"><input class="form-control" /></div>
			<div class="col-md-1">协作金额:</div>
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">付款时间:</div>
			<div class="col-md-2">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
		<div><b>外部供应商:</b></div>
		<hr />
		<div class="row form-group">
			<div class="col-md-1">名称:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-2"><input class="form-control" /></div>
			<div class="col-md-1">协作金额:</div>
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">协作金额:</div>
			<div class="col-md-1"><input class="form-control" /></div>
			<div class="col-md-1">协作金额:</div>
			<div class="col-md-1"><input class="form-control" /></div>
		</div>
		<div class="alert alert-success">
			<div class="row">
				<div class="col-md-4">项目验收管理</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-1">是否有履约保证金:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-1"><input type="checkbox" name="ck" />保证金</div>
			<div class="col-md-1"><input type="checkbox" name="ck" />保函</div>
			<div class="col-md-1"><input type="checkbox" name="ck" />无</div>
			<div class="col-md-1">预计回收时间:</div>
			<div class="col-md-3">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-1">是否有质量保证金:</div>
			@*<div class="col-md-1"><input class="form-control"  placeholder="%"/></div>*@
			<div class="col-md-1"><input type="checkbox" name="ck" />保证金</div>
			<div class="col-md-1"><input type="checkbox" name="ck" />保函</div>
			<div class="col-md-1"><input type="checkbox" name="ck" />无</div>
			<div class="col-md-1">预计回收时间:</div>
			<div class="col-md-3">
				<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
					@Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
					<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>

