@model Project
@{
	//Layout = "~/Views/Shared/_Layout.cshtml";
	//var pageTitle = "项目明细";
	//var projectId = Request["projectId"];
	//var resource = ViewBag.CurrentResource as Resource;
	//var isLeader = resource.IsLeader();
	var submenu = MenuHelper.GetProjectMenuItems(Model.ProjectId, Html.GetUserProfile().UserId, MenuHelper.ProjectMainPageCode);

}
@section Css{
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />
}

<div class="content-wrapper">

	@Html.Partial("_subMenu", submenu)

	<div class="details">

		@Html.Partial("_details", Model)

	</div>
</div>

@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Scripts{
	<script>
		function whenProcess() {
			$('.btn-modify,.projectProgress,.processName').show().removeAttr('disabled');
			$('.btn-start').hide();
			var startDate = $('.startDate'),
			endDate = $('.endDate'),
			hasStartDate = startDate.attr('hasValue') == 'True',
			hasEndDate = startDate.attr('hasValue') == 'True';
			if (!hasStartDate)
				startDate.val(new Date().Format('yyyy-MM-dd'));
			if (!hasEndDate)
				endDate.val(new Date().Format('yyyy-MM-dd'));
		}

		function whenPlan() {
			$('.btn-start').show().removeAttr('disabled');
		}

		function whenComplete() {
			$('.details button').hide();
		}

		function whenEdit() {
			$('.btn-modify,.btn-start').hide();
			$('.btn-save').show();
		}

		function whenReview() {
			whenComplete();
		}

		function afterDialogSuccess() {

		}

		function bindPay() {
			$('.btn-pay').off('click').on('click', function () {
				var $this = $(this);
				var $payContainer = $this.parents('.form-group');
				var payments = {
					PayId: $payContainer.find('.payId').val(),
					Money: $payContainer.find('.money').val(),
					ProjectId: $payContainer.find('.projectId').val(),
					InvoiceDate: $payContainer.find('.invoiceDate').val(),
					PayDate: $payContainer.find('.payDate').val(),
					PayName: $payContainer.find('.payName').val(),
					PayType: $payContainer.find('.payType').val(),
				}

				$.post('@Url.Action("Edit", "Payments")', { payments: payments }, function (data) {
					popupMessage(data);
				});
			});
		}

		function bindRemovePay() {
			$('.btn-removePay').off('click').on('click', function () {
				var $this = $(this);
				var $payContainer = $this.parents('.form-group');
				var payId = $payContainer.find('.payId').val();
				if (payId == '' || payid == '@Guid.Empty') {
					$payContainer.remove();
				}
				else {
					$.post('@Url.Action("Edit", "Payments")', { id: payId }, function (data) {
						popupMessage(data);
					})
				}
			});
		}

		$(function () {

			ajaxSubmitForm($('form'));

			var isPlanStatus = '@Model.IsPlanStatus' == 'True';
			var isProcessStatus = '@Model.IsProcessStatus' == 'True';
			var isCompleteStatus = '@Model.IsCompleteStatus' == 'True';
			var isEditStatus = '@Model.IsEditStatus' == 'True';
			var isReviewStatus = '@Model.IsReviewStatus' == 'True';

			if (isPlanStatus) whenPlan();
			else if (isCompleteStatus) whenComplete();
			else if (isProcessStatus) whenProcess();
			else if (isEditStatus) whenEdit();
			else if (isReviewStatus) whenReview();

			$('.btn-start').on('click', function () {
				if (confirm('@Confirm.Project.PROJECT_CONFIRM_START')) {
					$('#ProjectStatus').val('@ProjectKeys.ProcessStatus');
				}
				else {
					return false;
				}
			});

			$('.btn-forceClose').on('click', function () {
				if (confirm('@Confirm.Project.PROJECT_FORCE_CLOSE')) {
					$('#ProjectStatus').val('@ProjectKeys.ForceCloseStatus');
				}
			});

			$('.btn-save').on('click', function () {
				var status = $('#ProjectStatus').val();
				if (status == '@ProjectKeys.EditStatus') { // 如果是编辑状态，则保存后默认改为执行状态
					$('#ProjectStatus').val('@ProjectKeys.ProcessStatus');
				}
			});

			$('.btn-complete').on('click', function () {
				if (confirm('@Confirm.Project.PROJECT_CONFIRM_COMPLETE')) {
					$('#ProjectStatus').val('@ProjectKeys.CompleteStatus');
				}
				else
					return false;
			});

			$('.btn-removeStone').on('click', function () {
				var $this = $(this);
				var $stoneContainer = $this.parents('.form-group');
				var projectId = $stoneContainer.find('.projectId').val();
				var stoneId = $stoneContainer.find('.stoneId').val();
				$.post('@Url.Action("RemoveMileStone", "ProjectManage")', { projectId: projectId, mileStoneId: stoneId }, function () {
					alert('remove success');
					$this.parent().parent().remove();
				});
			});

			$('.btn-upload').on('click', function () {
				var $this = $(this);
				var $stoneContainer = $this.parents('.form-group');
				var folderId = $stoneContainer.find('.folderId').val();
				$('#modelProxy')
				.data('url', '@Url.Action("FileEdit", "ShareFolder")?folderId=' + folderId)
				.trigger('click');
			});

			$('.btn-editStone').on('click', function () {
				var $this = $(this);
				var $stoneContainer = $this.parents('.form-group');
				var projectMileStone = {
					PmsId: $stoneContainer.find('.pmsId').val(),
					StoneId: $stoneContainer.find('.stoneId').val(),
					Projectid: $stoneContainer.find('.projectId').val(),
					FolderId: $stoneContainer.find('.folderId').val(),
					Status: $stoneContainer.find('.stoneStatus').val(),
					Content: $stoneContainer.find('.stoneContent').val()
				}

				$.post('@Url.Action("EditMileStone", "ProjectManage")', { projectMileStone: projectMileStone }, function (data) {
					popupMessage(data);
				});
			});

			bindPay();

			$('.btn-addInternalVender').on('click', function () {
				var $this = $(this);
				var $payContainer = $this.parents('.form-group');
				$.post('@Url.Action("LoadTemplate", "Project")?template=_internalVenderPayments', function (html) {
					$payContainer.after($(html));
					bindPay();
					bindRemovePay();
				});
			});

		});


	</script>
}	