@model Project
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//var pageTitle = "项目明细";
	//var projectId = Request["projectId"];
	//var resource = ViewBag.CurrentResource as Resource;
	//var isLeader = resource.IsLeader();
	var submenu = MenuHelper.GetProjectMenuItems(Model.ProjectId, Html.GetUserProfile().UserId, MenuHelper.ProjectMainPageCode);

}
@section Css{
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />
}

<div class="content-wrapper">

	@Html.Partial("_subMenu", submenu)

	<div class="details">

		@Html.Partial("_details", Model)

	</div>
</div>
@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Scripts{
<script>
	function whenProcess() {
		$('.btn-modify,.projectProgress,.processName').show().removeAttr('disabled');
		$('.btn-start').hide();
		var startDate = $('.startDate'),
		endDate = $('.endDate'),
		hasStartDate = startDate.attr('hasValue') == 'True',
		hasEndDate = startDate.attr('hasValue') == 'True';
		if (!hasStartDate)
			startDate.val(new Date().Format('yyyy-MM-dd'));
		if (!hasEndDate)
			endDate.val(new Date().Format('yyyy-MM-dd'));
	}

	function whenPlan() {
		$('.btn-start').show().removeAttr('disabled');
	}

	function whenComplete() {
		$('.details button').hide();
	}

	function whenEdit() {
		$('.btn-modify,.btn-start').hide();
		$('.btn-save').show();
	}

	function whenReview() {
		whenComplete();
	}

	function afterDialogSuccess() {
		var url = '@Url.Action("Details","Project",new {id= Model.ProjectId })';
		loadDetail(url);
	}

	$(function () {

		ajaxSubmitForm($('form'));

		var isPlanStatus = '@Model.IsPlanStatus' == 'True';
		var isProcessStatus = '@Model.IsProcessStatus' == 'True';
		var isCompleteStatus = '@Model.IsCompleteStatus' == 'True';
		var isEditStatus = '@Model.IsEditStatus' == 'True';
		var isReviewStatus = '@Model.IsReviewStatus' == 'True';

		if (isPlanStatus) whenPlan();
		else if (isCompleteStatus) whenComplete();
		else if (isProcessStatus) whenProcess();
		else if (isEditStatus) whenEdit();
		else if (isReviewStatus) whenReview();

		$('.btn-start').on('click', function () {
			if (confirm('@Confirm.Project.PROJECT_CONFIRM_START')) {
				$('#ProjectStatus').val('@ProjectKeys.ProcessStatus');
			}
			else {
				return false;
			}
		});

		$('.btn-forceClose').on('click', function () {
			if (confirm('@Confirm.Project.PROJECT_FORCE_CLOSE')) {
				$('#ProjectStatus').val('@ProjectKeys.ForceCloseStatus');
			}
		});

		$('.btn-save').on('click', function () {
			var status = $('#ProjectStatus').val();
			if (status == '@ProjectKeys.EditStatus') { // 如果是编辑状态，则保存后默认改为执行状态
				$('#ProjectStatus').val('@ProjectKeys.ProcessStatus');
			}
		});

		$('.btn-complete').on('click', function () {
			if (confirm('@Confirm.Project.PROJECT_CONFIRM_COMPLETE')) {
				$('#ProjectStatus').val('@ProjectKeys.CompleteStatus');
			}
			else
				return false;
		});

	});


</script>
}
