@model OperationViewModel
@{
	var attahcments = ViewBag.Attahcments as List<Attachment>;
}
<link href="~/assets/plugins/select2-4.0.2/css/select2.min.css" rel="stylesheet" />
<style>
	.dropzonePop {
		display: none;
	}
		.modal-header{margin-bottom:15px;}
</style>


<div class="modal-dialog" style="width:95%;">

	<div class="row">

		<!-- widget -->
		<div class="widget details col-md-7 col-md-offset-1">

			<form id="bugForm" class="form-horizontal" action="@Url.Action("Handle","Require")" role="form" data-after-success="afterDialogSuccess()" style="">

				<div class="widget-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4>需求处理</h4>
					</div>

					<div class="row editTaskInfo">
						<fieldset class="col-sm-12">

							@Html.HiddenFor(t => t.ProjectId)
							@Html.HiddenFor(t => t.Id)


							<div class="form-group">
								@Html.Label("需求ID", new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.Label("", Model.SortId.ToString(), new { @class = "form-control" })
								</div>
							</div>

							<div class="form-group">
								@Html.Label("需求名称", new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.Label("BugName", Model.Name, new { @class = "form-control" })
								</div>
							</div>


							<div class="form-group">
								@Html.Label("需求状态", new { @class = "control-label col-md-2" })
								<div class="col-md-3">
									@Html.DropDownListFor(t => t.Result,
									DictionaryCache.Cached(RequireKeys.HandleGuid)
													.GetSelectListById(Guid.Empty, SelectListHelper.Default),
									new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.Label("本次消耗", new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.TextBoxFor(t => t.Result2, new { @class = "form-control", @placeholder = "本次消耗" })
								</div>
							</div>
							<div class="form-group endDate">
								@Html.Label("完成时间", new { @class = "control-label col-md-2" })
								<div class="input-group date col-md-8" style="margin-left:20%" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
									@Html.TextBoxFor(t => t.Result3, "{0:yyyy-MM-dd}", new { @class = "form-control endDate" })
									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
							<div class="form-group">
								@Html.Label("", "备注", new { @class = "control-label col-md-2" })
								<div class="col-md-9">
									@Html.TextArea("Remark", "", 12, 2, new { @class = "form-control" })
								</div>
							</div>


							<div class="input-group center-block">
								<button id="submit" class="btn btn-info col-md-3 col-md-offset-2 btn-custom-primary">保存</button>
								<a class="btn btn-info col-md-3" data-dismiss="modal">取消</a>
							</div>

						</fieldset>

					</div>

				</div>

			</form>

		</div>


	</div>
</div>


<script src="~/assets/plugins/ckeditor_4.14.1_standard/ckeditor/ckeditor.js"></script>

<script>

	$(function () {

		ajaxSubmitForm($('#bugForm'), true);

		initCKEditor('Remark');

		$('#Result').on('change', function () {
			var $val = $(this).val();
			if ($val == '@RequireKeys.HandleDone') {
				$('.endDate').show();
			}
			else
				$('.endDate').hide();
		}).change();

	});


	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
	}



</script>

