@model Payments
<div class="row form-group">
	@Html.HiddenFor(p => p.PayId,new {@class="payId" })
	@Html.HiddenFor(p => p.ProjectId, new { @class = "projectId" })
	@Html.HiddenFor(p => p.PayName, new { @class = "payName" })
	@Html.HiddenFor(p => p.PayType, new { @class = "payType" })

	<div class="col-md-1">@Html.Label(Model.PayName, new { @class = "control-label" })</div>
	<div class="col-md-1">@Html.TextBoxFor(p => p.Money, new { @class = "form-control money" })</div>
	<div class="col-md-1">@Html.LabelFor(p => p.InvoiceDate, new { @class = "control-label" })</div>
	<div class="col-md-2">
		<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
			@Html.TextBoxFor(p => p.InvoiceDate, "{0:yyyy-MM-dd}", new { @class = "form-control invoiceDate", @hasValue = Model.InvoiceDate != DateTime.MinValue })
			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
		</div>
	</div>
	<div class="col-md-1">@Html.LabelFor(p => p.PayDate, new { @class = "control-label" })</div>
	<div class="col-md-2">
		<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
			@Html.TextBoxFor(p => p.PayDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @hasValue = Model.PayDate != DateTime.MinValue })
			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
		</div>
	</div>
	<div class="col-md-1"><a class="btn btn-pay" title="保存"> <i class="fa fa-save"></i></a></div>
</div>