@model List<Payments>
@{
	var tabId = ViewBag.TabId;
	var project = ViewData["project"] as Project;
	var venderPayments = PaymentsHelper.GetVenderPaymentsFromProjectPayments(Model);
	var canEdit = !Model.Where(x => x.PayType == PaymentsKeys.ProjectPaymentsType).All(x => x.IsConfirm == true) || project.IsPlanStatus || project.IsEditStatus;
}
<div class="widget-header">
	<ul class="nav nav-tabs">
		<li class="@(tabId=="moneytab" ? "active":string.Empty)"><a href="#moneyTab" data-toggle="tab"><i class="fa fa-get-pocket"></i> 款项管理</a></li>
		<li class="@(tabId=="vendertab" ? "active":string.Empty)"><a href="#venderTab" data-toggle="tab"><i class="fa fa-bookmark"></i> 外包管理</a></li>
		<li class="@(tabId=="deliverytab" ? "active":string.Empty)"><a href="#deliveryTab" data-toggle="tab"><i class="fa fa-check-circle"></i> 验收管理</a></li>
	</ul>
</div>
<div class="widget-content">
	<div class="tab-content no-padding">
		<div class="tab-pane fade in  @(tabId=="moneytab" ? "active":string.Empty)" id="moneyTab" data-id="moneyTab">
			@if (project.IsProcessStatus)
			{
				<div class="alert alert-danger text-center">注意!最终确认后,预估款项将不可修改!</div>
			}
			<div class="row form-group">
				<div class="col-md-1 col-md-offset-1">
					@Html.Label("预估总金额", new { @class = "control-label" })
				</div>
				@if (canEdit)
				{

					<div class="col-md-1">@Html.TextBox("EsitimateMoney", project.Money, new { @class = "form-control totalMoney" })</div>
					<div class="col-md-1">
						<a class="btn btn-emoney" title="保存"> <i class="fa fa-save"></i></a>
					</div>
				}
				else
				{
					<div class="col-md-1">@Html.Label("EsitimateMoney", project.Money.ToString(), new { @class = "form-control", @readonly = "readonly" })</div>
				}

				<div class="col-md-1">
					@Html.Label("合同总金额", new { @class = "control-label" })
				</div>
				@if (canEdit)
				{
					
					<div class="col-md-1">@Html.TextBox("ContractMoney", project.CMoney, new { @class = "form-control totalMoney" })</div>
					<div class="col-md-1">
						<a class="btn btn-cmoney" title="保存"> <i class="fa fa-save"></i></a>
					</div>
				}
				else
				{
					<div class="col-md-1">@Html.Label("ContractMoney", project.CMoney.ToString(), new { @class = "form-control", @readonly = "readonly" })</div>
				}
			
			</div>
			<hr />
			@foreach (var item in Model.FindAll(p => p.IsProjectType) ?? new List<Payments>())
			{
				Html.RenderPartial("_projectPayments", item, ViewData);
			}
		</div>
		<div class="tab-pane fade in  @(tabId=="vendertab" ? "active":string.Empty)" id="venderTab" data-id="venderTab">
				@if (!project.IsProcessStatus)
				{
					<div>
						<button class="btn btn-info btn-addVender"><i class="fa fa-plus-circle"></i>新增供应商</button>
					</div>
				}
			<hr />
			<div id="venderList">
				@foreach (var item in venderPayments ?? new List<Payments>())
				{
					Html.RenderPartial("_venderPayments", item, ViewData);
				}
			</div>
		</div>
		<div class="tab-pane fade in @(tabId=="deliverytab" ?"active":string.Empty)" id="deliveryTab" data-id="deliveryTab">
			@{
				foreach (var item in Model.FindAll(p => p.IsDeliveryType) ?? new List<Payments>())
				{
					Html.RenderPartial("_deliveryPayments", item, ViewData);
				}
			}
		</div>
	</div>
</div>
