@model List<Bug>
@{
	var users = ViewBag.Users as List<UserInfo> ?? new List<UserInfo>();
}
<div class="widget col-md-3" style="margin-left:20px;">
	<div style="margin-top:10px;margin-bottom:10px;">关联Bug</div>
	<table id="relativeTask" class="table table-striped table-hover table-dark-header">
		<thead>
			<tr>
				<th data-column-id="SortId">ID</th>
				<th data-column-id="TaskName">Bug名称</th>
				<th data-column-id="Manager" data-formatter="commands">指派给</th>
				<th data-column-id="Status">状态</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Bug item in Model ?? new List<Bug>())
			{
				<tr>
					<td>@item.SortId</td>
					<td><a target="_blank" href="@Url.Action("Detail","Bug",new {id=item.BugId })">@item.BugName</a></td>
					<td>@(string.IsNullOrEmpty(item.Manager) ? users?.First(x => x.UserId == item.ManagerId)?.RealName : item.Manager)</td>
					<td>@item.Status</td>
				</tr>
			}
		</tbody>
	</table>

</div>
