@model EvalViewModel
@{
	ViewBag.Title = "";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var evalTables = Model.EvalTables.Where(x => x.TableType == EvalTableKeys.AutoType);
}
@section Css{
<link href="~/assets/plugins/raty/lib/jquery.raty.css" rel="stylesheet" />
}
<div class="content-wrapper">

	<div class="main-content">

		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<div class="widget-header">
					
					</div>
					<div class="widget-content">
						<table class="table table-condensed">
							<tr>
								<th>考核对象</th>
								<td>@Model.Target.UserName</td>
							</tr>
							<tr>
								<th>考评人</th>
								<td>@Model.Accessor.UserName</td>
							</tr>
							<tr>
								<th>考评人角色</th>
								<td>考评管理员</td>
							</tr>
							@foreach (var item in evalTables)
							{
								<tr>
									<th>@(item.TableName)得分：</th>
									@*<td>@item.Score.ToString("0.00")</td>*@
								</tr>
							}
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				@foreach (var item in evalTables)
				{
					var engine = EvalManager.Engines[Model.Period.AnalysisType].AutoEvals[item.TableId];

					<div class="evaltable">
						@Html.Hidden("TableId", item.TableId)

						@if (Model.EvalResultItems.ContainsKey(item.TableId))
						{
							@Html.Partial(engine.ViewPath + engine.ResultView, Model.EvalResultItems[item.TableId])
						}

					</div>
				}

				@Html.Hidden("PeriodId", Model.Period.PeriodId, new { @class = "PeriodId" })
				@Html.Hidden("AccessorId", Model.Accessor.UserId, new { @class = "AccessorId" })
				@Html.Hidden("TargetId", Model.Target.UserId, new { @class = "TargetId" })
			</div>
		</div>
			
	</div>

</div>
