@model ProjectStoneTask
@{ 
	var currentUserId = Html.GetUserProfile() == null ? Guid.Empty : Html.GetUserProfile().UserId;
}
<div class="modal-dialog">
	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> 编辑节点任务</h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">
			<form action="@Url.Action("UploadFile", "Attachment")" class="dropzonePop filePop"></form>
			<form class="form-horizontal" action="@Url.Action("Edit", "ProjectStoneTask")" role="form" data-after-success="afterDialogSuccess()">
				@Html.AntiForgeryToken()
				<div class="row">
					<fieldset class="col-sm-12">
						@Html.HiddenFor(t => t.PstId)
						@Html.HiddenFor(t => t.ProjectId)
						@Html.HiddenFor(t => t.TaskStatus)
						@Html.HiddenFor(t => t.TaskName)
						@Html.HiddenFor(t => t.RealStartDate)
						@Html.HiddenFor(t => t.RealEndDate)
						@Html.HiddenFor(t => t.ManagerId)
						@Html.HiddenFor(t => t.ReviewerID)


						<div class="form-group">
							@Html.LabelFor(t => t.TaskName, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.Label(Model.TaskName, new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(t => t.StartDate, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
									@Html.TextBoxFor(t => t.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(t => t.EndDate, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
									@Html.TextBoxFor(t => t.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control plan", @hasValue = Model.StartDate != DateTime.MinValue })
									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>


							@if (Model.ManagerId == currentUserId)
						{
						<div class="form-group">
							
							@Html.HiddenFor(t => t.CurrentAttachment.RealName, new { @class = "fileNamePop" })
							@Html.HiddenFor(t => t.CurrentAttachment.Url, new { @class = "filePathPop" })
							<label class="col-md-3 control-label">上传文件</label>
							<div class="col-md-9">
								<font color="red">* 文件会上传至项目文件夹中</font>
								<input style="visibility:hidden;position:absolute;" />
								<div class="input-group">
									<label id="uploadNamePop" class="form-control oversize uploadNamePop"></label>
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button" id="btn-uploadPop">附件上传</button>
									</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-9 col-lg-offset-3">
								<button type="submit" class="btn btn-primary btn-block-half"><i class="fa fa-check-circle"></i> 保存</button>
								<button type="button" class="btn btn-default btn-block-half" data-dismiss="modal">取消</button>
							</div>
						</div>
						}
					</fieldset>
				</div>
			</form>
		</div>
	</div>
	<!-- end widget -->
</div>
<script>

	$(function () {

		ajaxSubmitForm($('.modal-dialog form'));

		//文件上传
		$('.dropzonePop.filePop').dropzone({
			addedContainer: '#flyArea',
			dictResponseError: '上传出错',
			uploadMultiple: false,
			maxFilesize: 200,
			init: function () {
				this.on('success', function (file, data) {
					$('.fileNamePop').val(data.filename);
					$('.filePathPop').val(data.url);
					setTimeout(function () {
						$('.uploadNamePop').html(data.filename);
						$.post('@Url.Action("SaveFile", "ProjectStoneTask")',
							{ projectId: '@Model.ProjectId', taskId: '@Model.PstId', fileName: data.filename, filePath: data.url,fileExt:data.ext }, function (data2) {
							
						});

					}, 1000);
				});
				this.on('error', function (file, message) {
					popupMessage({ result: 'error', msg: message });
				});
			}
		});

		$('#btn-uploadPop').on('click', function () {
			$('.dropzonePop').trigger('click');
		});

	})

	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
	}

</script>
